$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
@import "compass/css3";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

ul{
	padding:0px;
	margin:0px;
	li{
		list-style-type: none;
		padding:0px;
		margin:0px;
	}
}

html, body{
	width:100%;
	height:100%;
	position:relative;
	background: #75C5B3;

.over{
	z-index:2;
}

a{
	text-decoration: none !important;
}

background: #d6c2ac; /* Old browsers */
background: -moz-linear-gradient(top,  #d6c2ac 0%, #ece0d8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6c2ac), color-stop(100%,#ece0d8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d6c2ac 0%,#ece0d8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d6c2ac 0%,#ece0d8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d6c2ac 0%,#ece0d8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d6c2ac 0%,#ece0d8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6c2ac', endColorstr='#ece0d8',GradientType=0 ); /* IE6-9 */

background: #bac5c8; /* Old browsers */
background: -moz-linear-gradient(top,  #bac5c8 0%, #dfe5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bac5c8), color-stop(100%,#dfe5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bac5c8 0%,#dfe5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bac5c8 0%,#dfe5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bac5c8 0%,#dfe5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bac5c8 0%,#dfe5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac5c8', endColorstr='#dfe5e5',GradientType=0 ); /* IE6-9 */

background: #ced6d8; /* Old browsers */
background: -moz-linear-gradient(top,  #ced6d8 0%, #e8ecec 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ced6d8), color-stop(100%,#e8ecec)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ced6d8 0%,#e8ecec 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ced6d8 0%,#e8ecec 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ced6d8 0%,#e8ecec 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ced6d8 0%,#e8ecec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced6d8', endColorstr='#e8ecec',GradientType=0 ); /* IE6-9 */


	background: #E69C4E; /* Old browsers */
background: -moz-linear-gradient(top, #E69C4E 0%, #f3d2bb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E69C4E), color-stop(100%,#f3d2bb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #E69C4E 0%,#f3d2bb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #E69C4E 0%,#f3d2bb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #E69C4E 0%,#f3d2bb 100%); /* IE10+ */
background: linear-gradient(to bottom, #E69C4E 0%,#f3d2bb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E69C4E', endColorstr='#f3d2bb',GradientType=0 ); /* IE6-9 */

}

#canvasContainer{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	position:relative;
}

#title{
	z-index:100;
	position:fixed;
	top:40px;
	left:40px;
	font-size:0.9em;
	color:black;
	width: 35%;
	line-height: 1.2em;
	text-align:left;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight:300;
//	border-left: 5px solid black;
	padding-left: 15px;
	//text-transform:uppercase;

	b{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
		font-size:1.3em;
		text-transform:uppercase;
		letter-spacing: 2px;
		font-weight:800;
	}
}

#ttitle a{
	color:black;
	&:hover{
		color:white;
	}
}

#bttns{
	position:fixed;
	top:40px;
	right:40px;
	width:280px;

}
.bttn{
	display:inline-block;
	width:23.95%;
	margin: 0 0.5% 0 0.5%;
	float:left;
	padding:5px 0 5px 0;
	background:black;
	border:2px;
	color:white;
	text-transform:uppercase;
	text-align:center;
	color:white;
	font-weight:300;
	font-size:0.65em;
	cursor:pointer;
	&:hover{
		background:white;
		color:black;
	}
}

#extract-btn{
}
#path-btn{
	top:100px;
}

.hover-sec{
	display:none;
	position:absolute;
	z-index:1000;
	background:rgba(20,25,30,0.95);
	width: 50%;
	//min-height: 45%;
	max-height: 65%;
	margin: 150px 25% 0 25%;
	color:white;
	padding: 45px;
	font-family: 'Helvetica Neue';
	font-weight:300;
	font-size:1.25em;
	letter-spacing:1px;
	line-height: 1.7em;
	border-radius:2px;
  @include box-sizing(border-box);
overflow-y: scroll;
color:black;
//color:white;
background:white;
		font-family: 'Proxima Nova';
	//background:rgb(27,28,30);

}


#ptitle{
	font-size:0.8em;
	color: rgb(150,150,150);
		font-family: 'Proxima Nova';
		font-weight:400;

}

#side-title{
	position:absolute;
	width:30%;
	margin-left: 35%;
	text-align:center;
	color:white;
	font-size:2.2em;
	font-weight:100;
	color:rgb(230,225,225);
	line-height:1em;
	letter-spacing:2px;
	font-family: 'Proxima Nova';
	@include transition(font-size 500ms ease-in);
	a{
		color:rgb(230,225,225);
		&:hover{
			color:black;
		}
	}
	p{
		font-family:'Helvetica Neue', 'Helvetica', sans-serif;
		font-size:0.4em;
		font-weight: 100;
		color:white;
		text-align:justify;
		padding:0;
		line-height:1.2em;
		text-transform:none;
		letter-spacing:1px;
	}
	
}
.center{
	top:50%;
}

#roomlists, #userinput, #journey{
	display:none;

	background: rgba(250,250,250,0.3);
	padding-left:10px;
	position:fixed;
	right:40px;
	top:102px;
	max-height: 75%;
	overflow-y: scroll;
	font-family: 'Montserrat', Helvetica, sans-serif;
	color:black;
	padding:20px;
	border-top:5px solid rgba(250,250,250,0.2);
	border-bottom:5px solid rgba(250,250,250,0.2);
	width:240px;
	@include transition(height 0.3s ease-in-out	);
	#label{
		font-weight:700;
		font-size:1em;
		text-transform:uppercase;
		padding-bottom:0.6em;
		letter-spacing:2px;
	}

	ul{
		font-family: 'Proxima Nova', Helvetica, sans-serif;
		margin-bottom:10px;
		font-weight:400;
		font-size:1em;
		li{
			line-height:1.3em;
			padding:0.2em 0 0.2em 0;
			}
	}
}

#proom, #pname{
display:inline-block;
}

#pname{
	font-weight: 700;
	color:rgb(40,40,40);
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight:700;
}
#proom{
}

input[type=text]{
	margin-top:30px;
	background:rgba(0,0,0,0);
	border:none;
	border-bottom:3px solid black;
	border-radius:0;
	font-size:1.8em;
	padding:10px;
	color:black;
	box-shadow:none;
	text-align:center;
	font-family: "Helvetica Neue", Helvetica, sans-serif;


}
input[type=text]:focus { 
	outline: none !important; 
	border-bottom:3px solid white;
	box-shadow:none;
	text-align:center;
}

#winmsg{
	position:fixed;
	top:100px;
	width:100%;
	text-align:center;
	font-size:4em;
	color:black;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}

#path{
	z-index:3;
}
#article-def{
	font-weight:600;
	font-size:0.85em;
	line-height:1.1em;
}

#canvas-overlay{
	display:none;
}

#intro-overlay{
	text-align:justify;
	width:70%;
	// margin:auto;
	margin-left:15%;
	margin-top:5%;
	font-size:2em;
	position:fixed;
	line-height:1.2em;
	text-align:left;
	font-weight:400;
	font-family:"Proxima Nova";
	letter-spacing:2px;
	color:black;
	z-index:4;
}
.intro-text{
	display:none;
	position:absolute;
	top:0;
	left:0;
}
#t3,#t4{
	position:relative;
}
#t4{
}
#project-title{
	position:absolute;
	width:100%;
	text-align:center;
	font-family:'Montserrat';
	font-size:3em;
	letter-spacing:3px;
	color:black;
	text-transform:uppercase;
	display:none;
	p{
		font-size:0.4em;
	}
}